{
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": { "parser": "babel-eslint", "ecmaVersion": 6, "sourceType": "module" },
  "extends": ["plugin:vue/recommended", "eslint:recommended", "plugin:prettier/recommended", "@vue/prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "semi": true
      }
    ]
  }
}
